.App {
  text-align: center;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 40px;
  margin-bottom: 250px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 52, 89, 1) 10%,
    rgba(0, 168, 232, 1) 90%
  );
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color: whitesmoke;
  margin-bottom: 10px;
}

.square {
  color: whitesmoke;
  background: rgba(0, 52, 89, 0.51);
  border: 6px solid rgba(0, 52, 89, 1);
  float: left;
  font-size: 96px;
  font-weight: bold;
  line-height: 136px;
  height: 136px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 136px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  font-size: 48px;
  color: whitesmoke;
  margin-top: 20px;
  text-align: center;
}

.restart-button {
  margin-top: 20px;
  text-align: center;
}

.restart:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.restart:focus {
  outline: none;
}

.restart:active {
  box-shadow: 0 1px #424242;
  transform: translateY(1px);
}

.restart {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #424242;
  color: #fffde7;
  border: none;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 40%;
  text-align: center;
  border-radius: 4px;
}

@media only screen and (max-width: 770px) {
  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 10px;
    margin-bottom: 250px;
    background: rgba(0, 168, 232, 1) 90%;
  }

  ol,
  ul {
    padding-left: 5px;
  }
  .square {
    border: 3px solid rgba(0, 52, 89, 1);
    font-size: 52px;
    line-height: 74px;
    height: 74px;
    width: 74px;
  }
  .game-info {
    font-size: 24px;
    color: whitesmoke;
    margin-top: 20px;
    text-align: center;
  }

  .restart {
    width: 80%;
  }
}
